<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;">E-commerce website</a>
      <button routerLink="/" class="btn btn-warning">BACK</button>
    </div>
</nav>

<div class="container">
    <div class="row product-details">
        <div class="col-sm-3">
            <img class="product-img" src="https://rukminim1.flixcart.com/image/416/416/kqv8vww0/pendrive/pendrive/f/v/c/v22ow-64-gb-pen-drive-hp-original-imag4sehezcpd386.jpeg?q=70"><br>
            <br>
            <div>
                <button routerLink="/buy" class="btn btn-primary">Buy Now</button>&nbsp;
                <button class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    


        <div class="col-sm-3">
            <div>
                <h1>HP 8 GB Pendrive</h1>
                <p style="color: green;"> Special Price </p>
                <h3>price : $50</h3>
                <strong>Category:&nbsp;Electronics</strong><br>
                <strong>Description:&nbsp;</strong><br>
                <p>The product doesn't work at all. This was a cheating from the seller. Even after complain didn't get anything. Waste Product. I tried to give zero rating but couldn't. Don't buy this. Not recommended at all.</p>
                <strong>Highlights:&nbsp;</strong>
                <p>USB 2.0|64 GB
                    Metal
                    For Audio Player, Desktop Computer, Gaming Console, Laptop, Mobile, Netbook, Tablet, Television
                    Color:Grey, Black
                </p>
                <p style="color:black ;">Discount : 15%</p>
            </div>
        </div>
    </div>
</div>

